@{
    ViewBag.Title = "Acerca de nosotros";
}
<h1>@ViewBag.Title</h1>

<p>Adibas store es una tienda donde se podrán encontrar zapatos y accesorios para el publico. Fue creada por tres emprendedores estudiantes del
    tecnologico de antioquia que intentaban ganarse la vida por este medio.</p>

<br />
    <div class="row" style="display: flex; justify-content: space-around">
        <div class="col-md-3" style="border: grey solid 1px; margin-right: 4px">
            <h3>Kevin Sánchez</h3>
            <p>
                Es el que desempeño la parte del levantamiento de requisitos del sistema y el front de la aplicación.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Quiero saber más &raquo;</a></p>
        </div>
        <div class="col-md-3" style="border: grey solid 1px">
            <h3>Juan Jose Ayala</h3>
            <p>Creó la base de datos de la aplicación y se encargo de hacer las relaciones de la data.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Quiero saber más &raquo;</a></p>
        </div>
        <div class="col-md-3" style="border: grey solid 1px; margin-left: 4px">
            <h3>Bryan Yesid Garcia</h3>
            <p>Ayudó a sus otros dos compañeros con ambas tareas acelarando el proceso de creación del proyecto</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Quiero saber más &raquo;</a></p>
        </div>
    </div>
