@{
    ViewBag.Title = "Contacto";
}
<h1>@ViewBag.Title</h1>

<address>
    Car 53 #1020<br />
    Medellín,<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">AdibasSupport@adibas.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">AdibasMarketing@adibas.com</a>
</address>