@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adibas Store</h1>
    <p class="lead">Bienvenido a la mejor tienda de zapatos y accesorios del oeste</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">¿Tecnologia uilizada? &raquo;</a></p>
</div>

